{% extends 'base.html' %}
{% block titulo %} Acerca de{% endblock titulo %}

{% block body %}
<div class="container text-center my-5">

  <img src="static/imagenes/logo.png" class="img-fluid rounded-circle my-4" style="max-width: 300px;">
  <h1>Acerca de PulperiaInventario+</h1>
  <p>
    El Sistema de Inventario para Pulpería es una herramienta diseñada para facilitar el control de los productos que se
    comercializan en pequeños negocios. Su principal propósito es ofrecer una gestión clara y organizada del stock,
    permitiendo registrar entradas, salidas y movimientos de productos de manera rápida y sencilla.

    Con este sistema, el propietario de la pulpería puede llevar un seguimiento eficiente de las ventas diarias,
    identificar los artículos más vendidos, controlar el nivel de existencias y generar reportes que apoyen la toma de
    decisiones. Además, ayuda a reducir pérdidas ocasionadas por falta de control, productos agotados o sobrantes
    innecesarios.

    Al implementar este tipo de solución, la pulpería logra modernizar su administración, optimizar sus recursos y
    mejorar el servicio al cliente, garantizando un manejo más profesional y seguro de su inventario.
  </p>
</div>
{% endblock %}